<!DOCTYPE html>
<html>
  <head>
    <title>BiuBiu</title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/ionic.min.css' />
    <script type="text/javascript" src="/javascripts/jquery2.1.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/ionic.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/index.js"></script>
  </head>

  <body style="padding: 50px 0 0 0;">
    <div class="list">
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">喷射毁灭的白光吧：</span>
	    <input id="barrage" type="text" placeholder="Barrage">
	  </label>
	</div>
    <button class="button button-full button-light" id="biu">
    	biu ~~  (゜-゜)つロ乾杯~
	</button>
  </body>
</html>
