<!DOCTYPE html>
<html>
  <head>
    <title>BiuBiu</title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/ionic.min.css' />
    <script type="text/javascript" src="/javascripts/jquery2.1.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/ionic.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/room.js"></script>
  </head>

  <body>
    <div id="screen" style="width:100%;background-color:#555;">
      
    </div>

    <div class="list">
  	  
  	</div>
    
    <div class="bar bar-footer item-input-inset bar-light">
      <label class="item-input-wrapper">
        <input id="barrage" type="search" placeholder="喷射毁灭一切的白光吧">
      </label>
      <button class="button button-clear" id="biu">
        biu~
      </button>
    </div>
  </body>
</html>
