<!DOCTYPE html>
<html>
  <head>
    <title>BiuBiu</title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/ionic.min.css' />
    <script type="text/javascript" src="/javascripts/jquery2.1.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/ionic.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/room.js"></script>
  </head>

  <body>
    <div id="screen">
      
    </div>

    <div id="info">
      <span style="max-width:60%;overflow:hidden;"><%= title %></span>
      <span>--No.<%= id %></span>
      <span id="member" style="float:right;">---&nbsp;&nbsp;</span>
    </div>

    <div id="list">
  	  
  	</div>

    <div id="color-board">
      <div id="color-item-1" style="background-color:white;"></div>
      <div id="color-item-2" style="background-color:yellow;"></div>
      <div id="color-item-3" style="background-color:green;"></div>
      <div id="color-item-4" style="background-color:red;"></div>
      <div id="color-item-5" style="background-color:pink;"></div>
      <div id="color-item-6" style="background-color:blue;"></div>
      <div id="color-item-7" style="background-color:black;"></div>
    </div>
    
    <div class="bar bar-footer item-input-inset bar-light">
      <div class="button button-light" id="color-select">
        
      </div>

      <label class="item-input-wrapper">
        <input id="barrage" type="search" placeholder="喷射毁灭一切的白光吧"/>
      </label>
      
      <button class="button button-clear" id="biu">
        biu~
      </button>
    </div>
  </body>
</html>
