<!DOCTYPE html>
<html>
  <head>
    <title>BiuBiu</title>
    <script src="/javascripts/jquery2.1.0.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script src="barrage.js"></script>
  </head>

  <body>
    <h1>你好</h1><h1>HelloWorld</h1><h1>HelloWorld</h1>
    <h1>HelloWorld</h1><h1>HelloWorld</h1><h1>HelloWorld</h1>
    <h1>HelloWorld</h1><h1>HelloWorld</h1><h1>HelloWorld</h1>
    <h1>HelloWorld</h1><h1>HelloWorld</h1><h1>HelloWorld</h1>
    <h1>HelloWorld</h1><h1>HelloWorld</h1><h1>HelloWorld</h1>
    <h1>HelloWorld</h1><h1>HelloWorld</h1><h1>HelloWorld</h1>
    <h1>HelloWorld</h1><h1>HelloWorld</h1><h1>HelloWorld</h1>
  </body>
</html>
